<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="css/tables.css" />
<script src="http://code.jquery.com/jquery-latest.min.js"></script>

</head>
<body>
	<div>
		<h1>Live results</h1>
		<div>
			<table summary="Summary Here" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th>Live</th>
						<th>Statistics</th>
					</tr>
				</thead>
				<tbody>
					<tr class="light">
						<td>Free spaces</td>
						<td>Total number of spaces</td>
					</tr>
					<tr class="dark">
						<td id="freePlaces" th:text="${freePlaces}" />
						<td th:text="${total}" />
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			var freePlaceURL = window.location.origin + "/parking-app/parking/getFreePlaces";
				setInterval(function() {
				$.get(freePlaceURL, function(data) {
					$('#freePlaces').text(data);
				});
		}, 1000); // 1000 milliseconds = 1 second.
		});
	</script>
</body>
</html>